{% if entry.download_url %}
    <div class="download_section">
    {% if entry.downloaded %}
        <span class="info">Downloaded {{ entry.downloaded|timesince }} ago by {{ entry.downloaded_by.username }}</span>
    {% else %}
        <span data-id="{{ entry.id }}" class="dl_button button">Download</span>
        <script type="text/javascript">
        $('.dl_button[data-id="{{ entry.id }}"]').downloadButton({
            url: '{% url dlr:download %}',
            status: $('#main_status'),
            list: $('#list')
        });
        </script>
    {% endif %}
    </div>
{% endif %}
