{% if entry.download_url %}
    <div class="download_section {% if entry.downloaded %}downloaded{% endif %}">
    {% if entry.downloaded %}
        <span class="info">Downloaded {{ entry.downloaded|timesince }} ago by <strong>{{ entry.downloaded_by.username }}</strong></span>
    {% else %}
        <span data-id="{{ entry.id }}" class="dl_button button">Download</span>
        <script type="text/javascript">
        $('.dl_button[data-id="{{ entry.id }}"]').downloadButton({
            url: '{% url dlr:download %}',
            id: {{ entry.id }},
            entryDetailUrl: '{{ entry.detail_url }}',
            status: $('#main_status'),
            list: $('#list'),
            detailPane: $('#detail')
        });
        </script>
    {% endif %}
    </div>
{% endif %}
