{% extends 'base.html' %}

{% block header %}
<div id="filter"></div>
{% endblock %}

{% block content %}
<div class="content_wrap">
    <div class="half_wrap entries">
        <div class="half_wrap_inner">
            <div id="list"></div>
        </div>
    </div>
    <div class="half_wrap detail">
        <div class="half_wrap_inner">
            <div id="detail"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
(function(){

    var FEEDS = {{ feeds|safe }};

    var list = $('#list').entryList({
        urls: {get_entries: '{% url dlr:get_entries %}'},
        detailPane: $('#detail').detailPane()
    });

    var filter = $('#filter').entryFilter({
        feeds: FEEDS,
        list: list,
        urls: {select: '{% url dlr:select %}',
               unselect: '{% url dlr:unselect %}'}
    });

})();
</script>
{% endblock %}
