{% extends 'base.html' %}

{% block header %}
<div id="filter"></div>
{% endblock %}

{% block content %}
<div class="content_wrap">
    <div class="half_wrap entries">
        <div class="half_wrap_inner">
            <div id="list"></div>
        </div>
    </div>
    <div class="half_wrap detail">
        <div class="half_wrap_inner">
            <div id="detail"></div>
        </div>
    </div>
    <div class="loading_animation"></div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
(function(){

    var FEEDS = {{ feeds|safe }};

    var status = $('#main_status').statusBar();

    var detailPane = $('#detail').detailPane();

    var list = $('#list').entryList({
        urls: {get_entries: '{% url dlr:get_entries %}'},
        detailPane: detailPane
    });

    var filter = $('#filter').entryFilter({
        feeds: FEEDS,
        list: list,
        urls: {select: '{% url dlr:select %}',
               unselect: '{% url dlr:unselect %}'}
    });

    $.hashDispatch({
        list: list,
        detailPane: detailPane,
        entryUrl: '{% url dlr:entry_detail entry_id=0 %}'
    });

})();
</script>
{% endblock %}
