{% extends 'entry_detail.html' %}

{% load humanize %}

{% block title %}
{{ block.super }}
{% if entry.content.imdb.Year %}<span class="year">{{ entry.content.imdb.Year }}</span>{% endif %}
{% if entry.content.quality %}<span class="quality">{{ entry.content.quality }}</span>{% endif %}
{% endblock %}

{% block header %}
    {% with entry.content.imdb as imdb %}

        {% if imdb.Poster and entry.content.image %}
            <div class="poster" style="background-image:url({{ STATIC_URL }}{{ entry.content.image }})"></div>
        {% endif %}

        {% if imdb.Poster and entry.content.image %}
        <div class="info_container">
        {% endif %}

            {{ block.super }}

            {% if imdb %}
            <div class="imdb">
                <a href="{{ imdb.link }}" target="_blank">IMDB</a>:
                <span class="rating">
                    <strong>{{ imdb.Rating }}</strong>/10
                    <span class="votes">({{ imdb.Votes|intcomma }} votes)</span>
                </span>
            </div>
            {% endif %}

            {% if imdb %}
            <div class="movie_info">
                <div class="row multi">
                    <span><small>Director:</small> {{ imdb.Director }}</span>

                    <span>{{ imdb.Runtime }}</span>

                    <span>{{ imdb.Genre }}</span>

                    <span>{{ imdb.Rated }}</span>
                </div>
                <div class="row">
                    <span><small>Cast:</small> {{ imdb.Actors }}</span>
                </div>
                <div class="row plot"><span>{{ imdb.Plot }}</span></div>
                {% if entry.content.release_name %}<div class="row release"><span><small>Release name:</small> {{ entry.content.release_name }}</span></div>{% endif %}
            </div>
            {% endif %}

        {% if imdb.Poster and entry.content.image %}
        </div>
        {% endif %}


    {% endwith %}
{% endblock %}
