{% extends 'entry_detail.html' %}

{% block title %}
{{ block.super }}
{% if entry.content.imdb.Year %}<span class="year">{{ entry.content.imdb.Year }}</span>{% endif %}
{% if entry.content.quality %}<span class="quality">{{ entry.content.quality }}</span>{% endif %}
{% endblock %}

{% block header %}
    {% with entry.content.imdb as imdb %}

        {% if imdb.Poster and entry.content.image %}
            <div class="poster" style="background-image:url({{ STATIC_URL }}{{ entry.content.image }})"></div>
        {% endif %}

        {% if imdb.Poster and entry.content.image %}
        <div class="info_container">
        {% endif %}

        {{ block.super }}

        <div class="rating_sites">
        {% include 'movies/imdb.html' %}
        {% include 'movies/csfd.html' %}
        </div>

        {% if imdb %}
        <div class="movie_info">
            <div class="row multi">
                <span><small>Director:</small> {{ imdb.Director }}</span>
                <span>{{ imdb.Runtime }}</span>
                <span>{{ imdb.Genre }}</span>
                <span>{{ imdb.Rated }}</span>
            </div>
            <div class="row">
                <span><small>Cast:</small> {{ imdb.Actors }}</span>
            </div>
            <div class="row plot"><span>{{ imdb.Plot }}</span></div>
            {% if entry.content.release_name %}<div class="row release"><span><small>Release name:</small> {{ entry.content.release_name }}</span></div>{% endif %}
        </div>
        {% endif %}

        {% if imdb.Poster and entry.content.image %}
        </div>
        {% endif %}


    {% endwith %}
{% endblock %}

{% block releases %}

{% if entry.other_releases.available %}
<div class="releases">
    <h4>This movie is also available as:</h4>
    {% with entry.other_releases.available as release_list %}
        {% include 'movies/release_list.html' %}
    {% endwith %}
</div>
{% endif %}

{% if entry.other_releases.downloaded %}
<div class="releases already_downloaded">
    <h4>
    {% if entry.other_releases.downloaded|length == 1 %}
        This movie was already downloaded in this release:
    {% else %}
        This movie was already downloaded in the following releases:
    {% endif %}
    </h4>
    {% with entry.other_releases.downloaded as release_list %}
        {% include 'movies/release_list.html' %}
    {% endwith %}
</div>
{% endif %}
{% endblock %}
